/*Section left side*/
.statistic-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--textWhite);
    padding: var(--padding);
    padding-top: 5em;
    background: var(--mainWhite);
    height: 80vh;
  }
  
  .statistic-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .statistics-container {
    padding-bottom: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .statistic-card {
    margin-right: 50px;
    flex-grow: 0;
    padding-right: 20px;
    text-align: start;
    color: var(--textBlack);
    max-width: 300px;
  }
  
  /*Left card*/
  .statistic-card:last-child {
    margin-right: 0;
  }
  
  .statistic-number {
    font-size: 2.5rem;
    color: var(--textGreen);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-source-serif);
    margin-bottom: 10px;
  }
  
  .statistic-label {
    font-family: var(--font-family-source-serif);
    font-weight: var(--font-weight-bold);
    font-size: 1.3em;
  }
  
  .statistic-heading {
    font-family: var(--font-family-source-serif);
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
    margin-bottom: 2em;
  }
  
  .statistic-description {
    background: var(--mainWhite);
    color: var(--textBlack);
    margin-right: 13em;
  }
  
  .statistic-description h1 {
    font-family: var(--font-family-source-serif);
    font-weight: var(--font-weight-bold);
    font-size: 3em;
  }
  
  .statistic-description p {
    font-family: var(--font-family-archivo-serif);
    font-weight: var(--font-weight-normal);
    font-size: 17px;
  }
  
  /*Card right side */
  .featured-in {
    width: 250px;
    height: 500px;
    padding: 20px;
    background: var(--mainBlack);
    box-shadow: var(--box-shadow-card);
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
  }
  
  .featured-in h3 {
    font-family: var(--font-family-source-serif);
    font-weight: var(--font-weight-bold);
    font-size: 2.2em;
    margin-bottom: 1em;
    border-bottom: 2px solid rgb(254, 251, 251);
  }
  
  .featured-logos {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    filter: brightness(0) invert(1);
  }
  
  .featured-in img {
    max-width: auto;
    height: 25px;
    margin: 0 auto;
  }