/* UserDropdown.css */
.dropdown-menu {
    position: absolute;
    width: 100%;
    background-color: var(--mainGreen);
    border-radius: 13px;
    margin-top: 10px;
}

.dropdown-menu ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li,
.dropdown-menu ul li a {
    cursor: pointer;
    display: block;
    width: 100%;
    color: var(--textWhite);
    text-decoration: none; 
    font-family: var(--font-family-source-serif); 
    font-size: 1rem; 
    font-weight: var(--font-weight-bold);
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}


.dropdown-menu ul li:hover,
.dropdown-menu ul li a:hover {
    background-color: var(--mainYellow);
    color: var(--textBlack); 
}

.logout {
   transition: all 0.2s ease;
}

.navbar-user-section {
    position: relative; 
}
