.card {
    border-radius: 23px;
    overflow: hidden;
    width: 302px;
    height: 477px;
    background-color: transparent;
    box-shadow: var(--box-shadow-card);


}

.locationText{
    margin: 0;
}

.locationDiv {
    font-family: var(--font-family-archivo-serif);
    font-weight: var(--font-weight-normal);
    color: var(--mainWhite);
    display: flex;
    align-items: center;
    margin: 0;
}

.locationSymbol {
    height: 16px;
    width: 16px;
    fill: var(--mainWhite);
}


.cardBackground {
    width: 302px;
    height: 477px;
    background-size:contain;
}



.cardColorOverlay {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, transparent 30%, var(--mainGreen) 40%);
    height: 100%;
    padding: 15px;
}
.cardContentDiv{
    padding: 20px;
}


.cardTitle {
    margin-top: 80px;
    color: var(--mainWhite);
    text-align: center;
    font-family: var(--font-family-source-serif);
    font-weight: var(--font-weight-bold);

}



.availableAndPriceDiv {

    margin-top: 25px;
    font-family: var(--font-family-archivo-serif);
    display: flex;
    text-align: center;

    color: var(--mainWhite)
}

.numberBoxTitle{
    font-size: 16px;
}


.numberBox {
    background-color: var(--mainWhite);
    width: 100px;
    text-align: center;
    border-radius: 23px;
    color: var(--mainBlack);
}

.descriptionDiv {
    color: var(--mainWhite);
    font-family: var(--font-family-archivo-serif);
}