.card {
    border-radius: 23px;
    border-color: transparent;
    overflow: hidden;
    width: 302px;
    height: 477px;
    background-color: transparent;
    box-shadow: var(--box-shadow-card);
}


.topInfoDiv{
    display: flex;
    justify-content: space-between;
}
.locationDiv{
    display: flex;
    
}
.locationSymbol{
    fill: white;
}


.cardBackground{
    height: 100%;
}
.cardColorOverlay{
    height: 100%;
    background: linear-gradient(180deg, rgba(2,0,36,0) 21%, rgba(43,95,41,1) 40%);

}


.mainContent{
    height: 100%;
    padding-top: 125px;
}

.cardTitle{
    font-family: var(--font-family-source-serif);
    font-size: 25px;

    color: var(--mainWhite);
}

.cardContentDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--mainWhite);

    height: 100%;
    padding: 20px;
}

.availableAndPriceDiv{
    display: flex;
    justify-content: space-between
}


.numberDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.numberBox{
    background-color: var(--bar-color);
    color: var(--mainBlack);
    width: 100px;
    text-align: center;
    border-radius: 23px;
}
