/*Section left side*/
.statistic-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--textWhite);
  padding: var(--padding);
  padding-top: 5em;
  background: var(--mainWhite);
  height: 80vh;
}

.statistic-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.statistics-container {
  padding-bottom: max(3em, 3vw);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: min(4.5vw, 20em);
}

.statistic-card {
  margin-right: max(3.125em, 3vw);
  flex-grow: 0;
  padding-right: max(1.25em, 1vw);
  text-align: start;
  color: var(--textBlack);
  max-width: 18.75em;
}

/*Left card*/
.statistic-card:last-child {
  margin-right: 0;
}

.statistic-number {
  font-size: min(3.75em, 3vw);
  color: var(--textGreen);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-source-serif);
  margin-bottom: .3em;
}

.statistic-label {
  font-family: var(--font-family-source-serif);
  font-weight: var(--font-weight-bold);
  font-size: 1.5vw;
}

.statistic-heading {
  font-family: var(--font-family-source-serif);
  font-weight: var(--font-weight-bold);
  font-size: 2vw;
  margin-bottom: 2em;
}

.statistic-description {
  background: var(--mainWhite);
  color: var(--textBlack);
  margin-right: 13em;
}

.statistic-description h1 {
  font-family: var(--font-family-source-serif);
  font-weight: var(--font-weight-bold);
  font-size: 2.5vw;
}

.statistic-description p {
  font-family: var(--font-family-archivo-serif);
  font-weight: var(--font-weight-normal);
  font-size: 1vw;
}

/*Card right side */
.featured-in {
  width: 20vw;
  height: auto;
  padding: max(1.25em, 1vw);
  background-color: var(--mainBlack);
  box-shadow: var(--box-shadow-card);
  border-radius: max(30px, 2vw);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.featured-in h3 {
  font-family: var(--font-family-source-serif);
  font-weight: var(--font-weight-bold);
  font-size: 1.8vw;
  margin-bottom: 1em;
  border-bottom: 2px solid rgb(254, 251, 251);
}

.featured-logos {
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: max(2.5em, 1.5vw);
  width: 100%;
  filter: brightness(0) invert(1);
}

.featured-in img {
  width: 5vw;
  height: 1.5625em; 
  margin: 0 auto;
}