/* Section left side */
.statistic-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--textWhite);
  padding: var(--padding);
  margin-bottom: var(--padding);
  padding-top: 5em;
  background: var(--mainWhite);
  height: 70vh;
}

.statistic-content {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.statistics-container {
  padding-bottom: max(3em, 3vw);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: min(4.5vw, 20em);
}

.statistic-card {
  margin-right: max(3.125em, 3vw);
  background-color: var(--mainWhite);
  box-shadow: var(--box-shadow-card);
  border-radius: 20px;
  flex-grow: 0;
  text-align: start;
  color: var(--textBlack);
  width: 300px;
  padding: 30px;
}

.statistic-number {
  font-size: 38px;
  color: var(--textGreen);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-source-serif);
}

.statistic-label {
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-normal);
  font-size: 1rem;
}

.statistic-description {
  background: var(--mainWhite);
  color: var(--textBlack);
  margin-right: 13em;
}

.statistic-description h2 {
  font-family: var(--font-family-source-serif);
  font-weight: var(--font-weight-bold);
  font-size: 2.5vw;
  margin-bottom: 2em;
}

.statistic-description p {
  font-family: var(--font-family-archivo-serif);
  font-weight: var(--font-weight-normal);
  font-size: 1rem;
}

/* Card right side */
.featured-in {
  flex: 1;
  height: auto;
  padding: max(1.25em, 1vw);
  background-color: var(--mainBlack);
  box-shadow: var(--box-shadow-card);
  border-radius: max(30px, 2vw);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-in h2 {
  font-family: var(--font-family-source-serif);
  font-weight: var(--font-weight-bold);
  font-size: 2.3vw;
  margin-bottom: 1em;
  border-bottom: 2px solid rgb(254, 251, 251);
}

.featured-logos {
  margin: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: max(2.5em, 1.5vw);
  width: 100%;
  filter: brightness(0) invert(1);
}

.featured-in img {
  width: 8vw;
  height: 2em;
  margin: 0 auto;
  object-fit: contain;
}
