.financial-overview-container{
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; 
}

.statistics-cards-container {
    display: flex;
    gap: 20px; 
    justify-content: center;
    flex-wrap: wrap; 
    margin-bottom: 30px; 
     width: calc(50% - 10px)
  }
  .chart-container {
    background: var(--mainWhite);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: auto; 
    width: fit-content; 
  }