.contentContainer {
    padding: 50px;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;
}


.dropDownMenu {
    position: relative; 
    flex-shrink: 0; 
    flex-grow: 0; 
    min-width: 200px;
    background-color: var(--mainWhite);
    margin: 0;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.dropDownMenuBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--bar-color);
    border-radius: 30px;
    height: 45px;
    padding: 0 20px;
}

 .dropDownMenuBox p {
    margin: 0;
    font-size: 20px;
    font-family: var(--font-family-archivo-serif);
    font-weight: var(--font-weight-bold);
    width: 100%;
}

.dropDownIcon {

    margin-left: 10px;
    margin-right: 10px;
}


.sortingAndFilterRow {
    height: 8vw;
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
    align-items: flex-start; 
}
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}


.dropDownMenuItems {
    position: absolute;
    top: 100%; 
    left: 0;
    z-index: 1000;
    background-color: white;
    width: 100%; 
    max-height: 90px; 
    overflow-y: auto;
}

.dropDownMenuItems.inactive {
    display: none;
}


.activeFiltersDiv {
    display: flex;
    gap: 10px;
    height: 50px;
}
.search-container {
    background-color: white;
    position: relative;
    
}