.header {
    text-align: start;
    background-color: transparent;
    color: var(--mainWhite);
    height: 200px;
    padding-top: 8em;
    margin-right: 40vw;
    z-index: 2;
  }
  
  .header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: var(--font-family-source-serif);
  } 
  
  .header p {
    font-size: 1rem;
    line-height: 1.5;   
    font-family: var(--font-family-archivo-serif);
  }
  