
.verification-section {
    background-color: var(--mainGreen);
    color: var(--textWhite);
    text-align: center;
    height: 600px;
  }

  .verification-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .verification-content h1 {
    font-size: 38px; 
    margin-bottom: 10px;
    font-family: var(--font-family-source-serif);
    font-weight: var(--font-weight-bold);
  }
  
  .verification-content p {
    font-size: 16px; 
    margin: 1.5em 3em;
    text-align: center;
    font-family: var(--font-family-archivo-serif);
    font-weight: var(--font-weight-normal);
  }
  
  .verification-logos {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 150px; ;
  }
  .gold_standard_logo {
    height: 60px;
    width: auto;
    vertical-align: middle;
  }
  .verified_carbon_logo {
    height: 100px;
    width: auto;
    vertical-align: middle;
  }
  