.navbar {
    display: flex;
    padding: 20px 0 20px 20px;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    font-family: var(--font-family-source-serif);
    font-weight: var(--font-weight-bold);
    position: sticky;
    top: 0;
    z-index: 1000;


}

.navbar-logo {
    height: 50px;
}

.navbar-links {
    display: flex;
    height: 3vw;
    gap: 3vw;
    align-items: center;
    list-style: none;
    background-color: var(--mainWhite);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


    padding-left: 40px;
    padding-right: 40px;

    box-shadow: var(--box-shadow-card);
}

.navbar-links a,
.navbar-btn {

}

.navbar-btn {

}

.navbar-btn:hover {

}

.navbar-user-section{

}

.navbar-user-button {
    background-color: var(--mainGreen);
    padding: 10px 30px 10px 30px;
    border-radius: 13px;
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--mainWhite);

}


.navbar-user-button:hover {
    cursor: pointer;
    background-color: var(--mainYellow);
    color: var(--mainBlack);
}

.navbar-username {
}

.navbar-username-text {


}



.link-btn.active{
}
