.current-listings {
    border-radius: 23px;
    padding: 10px;

}

.current-listings h1 {
    font-size: 1.5rem;
    color: var(--mainBlack);
    text-align: left;
    margin-bottom: 20px;
}

.listing-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--mainWhite);
  align-items: center; 
  padding: 10px;
  border-radius: 13px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  font-family: var(--font-family-source-serif);
  margin-bottom: 10px; 
}


.listing-details {
  display: flex;
  gap: 20px; 
}

.listing-details p {
  font-size: 1rem;
  color: var(--mainBlack);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-source-serif);
}

.detail-value {
  color: var(--mainGreen); 
  font-weight: bold;
  font-family: var(--font-family-archivo-serif);
}

.button-container {
  display: flex;
  gap: 10px; 
}

button {
  background-color: var(--mainYellow);
  border: none;
  border-radius: 23px;
  padding: 10px 20px;
  color: var(--mainBlack);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.4;
}

button:active {
  transform: scale(0.98);
}

.tab-buttons{
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
}
