.current-listings {
    border-radius: 8px;
}

.current-listings h1 {
    font-size: 1.5rem;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

.listing-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.listing-item:last-child {
    border-bottom: none;
}

.listing-item p {
    margin: 0;
    color: #333;
    font-size: 0.9rem;
}
  
  button {
    background-color: #ffd700; /* Golden color for the button */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #cca700; /* Darker golden color on hover */
  }
  
  button:active {
    transform: scale(0.98); /* Slight press down effect */
  }
  
  /* If you have a "Load more" button, you may style it like this */
  .load-more-btn {
    background-color: #ffd700; /* Golden color for the button */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    display: block;
    width: max-content;
    margin: 20px auto;
    transition: background-color 0.3s ease;
  }
  
  .load-more-btn:hover {
    background-color: #cca700; /* Darker golden color on hover */
  }
  
  .load-more-btn:active {
    transform: scale(0.98); /* Slight press down effect */
  }
  