/*Global attributes*/
body {

  background-color: var(--mainGreen);
  margin: 0;
  margin-top: -10px;
  padding: 0;

  /*Common Font and font type*/
  font-family: var(--font-family-archivo-serif);
  font-weight: var(--font-weight-Bold);
  
  /*Common text color*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body,
#root {
  height: 100%;
}

/*Global link color*/
a {
  color: var(--text-color);
  text-decoration: none;
  transition: var(--hover-transition);
}
/* Global hover */
a:hover {
  text-decoration: underline; 
  text-decoration-color: var(--MainYellow);
  text-decoration-thickness: 4px;
  color: #7a723e;

}
