.what-we-do-container {
    background: var(--gradient-color-top);
    color: var(--textWhite);
    padding: var(--padding);
    padding-top: 4em;
    text-align: center;
    list-style: none;
    height: 110vh;
    font-weight: var(--font-weight-bold);
}

.what-we-do-container h2 {
    text-align: left;
    margin-bottom: 60px;
    font-family: var(--font-family-source-serif);
    font-weight: var(--font-weight-bold);
    font-size: 3em;
}

.steps {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.step {
    width: 20%;
    text-align: center;
}

.step h3 {
    text-align: left;
    font-family: var(--font-family-archivo-serif);
    font-weight: var(--font-weight-bold);
    font-size: 2em;
    margin-bottom: 20px;
}

.step p {
    font-family: var(--font-family-archivo-serif);
    font-weight: var(--font-weight-normal);
    font-size: 20px;
    padding-top: 20px;
}

.cta-button {
    text-align: center;
    margin-top: 50px;
}

.cta-button button {
    padding: 10px 30px;
    background-color: var(--mainYellow);
    color: var(--textBlack);
    border-radius: 20px;
    cursor: pointer;
    font-size: 2em;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-source-serif);
    transition: background-color 0.3s ease;
}
.cta-button i {
    font-size: 1.5em;
    padding-left: 1em;
  }

.cta-button button:hover {
    color: var(--textBlack);
    background-color: var(--hover-color);
}