.hero-container {
  background: url('/images/Heroimg.jpg');
  font-family: var(--font-family-source-serif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: var(--padding);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--textWhite);
  position: relative;
  overflow: hidden;
  list-style: none;
}

.hero-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30%;
  background: linear-gradient(to top, var(--Gradient-color) 0%, transparent 100%);
  z-index: 2;
}

.hero-container h1 {
  align-items: start;
  font-size: 3.5em;
  width: 60%;
  text-align: left;
  font-weight: var(--font-weight-bold);
}


.portfolio-btn {
  padding: 10px 20px;
  background-color: var(--MainYellow);
  color: var(--textBlack); 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: var(--font-weight-bold);
  transition: background-color 0.3s ease;
  text-align: left;
  position: relative;
  z-index: 3;
}

.portfolio-btn:hover {
  background-color: var(--hover-color);
}

.hero-container i {
  font-size: 1.5em;
  padding-left: 2em;
}