.portfolio-body {
  padding: var(--padding);
  background-color: var(--mainWhite);
  padding-top: var(--padding-top);
  margin-top: var(--margin-top);
  height: 150vh;
}

.portfolio-content {
    padding-top: 5vw;
}


