.company-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainWhite);
  margin-top: -100px;
  padding-left: 200px;
  padding-right: 200px;
}

.page-content {
    min-height: 850px; 
    background-color: var(--mainWhite);
    width: 100%;
}