.dropdownItemContainer{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    cursor: pointer;

    
    padding-left: 20px;
    padding-right: 20px;

}

.dropdownItemContainer:hover{
    background: linear-gradient(0deg, rgba(66, 66, 66, 0.5) 0%, rgba(252, 252, 252, 0.716) 80%);
}