.dropdownItemContainer{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

    
    padding-left: 20px;
    padding-right: 20px;

}

.dropdownItemContainer:hover{
    background: var(--bar-color-hover)
}